.controllers {
    display: flex;
    justify-content: space-between;
    background-color: #0066b2a6;
    align-items: center;
    color: yellow;
    padding: 10px;
    border-bottom: solid yellow 3px;
    width: 100%;
}