.container {
    display: flex;
    flex-direction: column;
    width: 1024px;
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 100vw;
    }
}

.cardsContainer {
    overflow-x: auto;
    overflow-y: hidden;
}

.line {
    display: flex;
    gap: 10px;
    width: max-content;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
    .line {
        width: 100vw;
    }
    .line > * {
        width: 100vw !important;
    }
}

.oddLine {
    background-color: rgba(232, 229, 203, 0.85);
}

.evenLine {
    background-color: rgba(223, 214, 179, 0.2);
}

.equipments {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: max-content;
    font-weight: 600;
}

.equipment {
    padding: 5px;
    display: flex;    
    flex-direction: column;
}

.equipmentItem {
    display: flex;
    align-items: center;
}

.equipmentMod {
    margin-top: 10px;
}

.title {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipmentIcon {
    margin-right: 10px;
    cursor: pointer;
}

.equipmentText {
    margin-left: 10px;
}

.equipmentTitle {
    flex: 1;
}

.button {
    background-color: green;
    border-radius: 0px;
    font-weight: 600;
    box-shadow: 1px 1px 1px #858585;
    border-color: transparent;
    color: white;
    margin-left: 10px;
}

.deleteButton {
    background-color: red;
}

.add {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.verticalCardWithMode {
    flex-direction: row;
}

.verticalCardWithMode>div:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.verticalCardWithMode>div:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.summary {
    font-weight: 600;
}

.hidden {
    display: none;
}