.container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    z-index: 4;
    background-image: url('../../../../img/noise.png');
}

.cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    justify-content: center;
    padding-top: 60px;
}

.card {
    border: none;
    cursor: pointer;
    background: none;
}