.container {
    /* padding: 5px; */
    /* display: flex; */
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* max-width: 1024px; */
}

.characters {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controllers {
    display: flex;
    justify-content: space-between;
    background-color: #0066b2a6;
    align-items: center;
    color: yellow;
    padding: 10px;
}

.saveBlock {
    display: flex;
    align-items: center;
}

.addCharacterButton {
    background-color: yellow;
    color: #0066b2;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 1px 1px 1px #858585;
    border-color: transparent;
    border-radius: 0px;
}

.save {
    display: flex;
    gap: 10px;
}

.forImage {
    position: absolute;
    left: -20000px;
}