.controllers {
    display: flex;
    justify-content: space-between;
    background-color: #0066b2a6;
    align-items: center;
    color: yellow;
    padding: 10px;
    border-bottom: solid yellow 3px;
    width: calc(100% - 20px);
}

@media only screen and (max-width: 1024px) {
    .controllers {
        flex-wrap: wrap;
        gap: 5px;
    }
}