.image {
    width: 255px;
    flex-grow: 0;
    overflow: hidden;
    border-radius: 5px;
    height: 157px;
}

.verticalImage {
    width: 235px;
    height: 340px;
}

.image img {
    max-width: 100%;
}

.container {
    display: flex;
    gap: 5px;
    padding: 0 0 5px 0;
    overflow: hidden;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
    align-items: flex-start;
    height: 100%;
    font-weight: 600;
}

.verticalContainer {
    padding: 5px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.button {
    background-color: green;
    border-radius: 0px;
    font-weight: 600;
    box-shadow: 1px 1px 1px #858585;
    border-color: transparent;
    color: white;
}

.deleteButton {
    background-color: red;
}

.infoBlock {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 15px;
    font-weight: 700;
}

.price {
    margin-bottom: 20px;
}
