
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    background-color: #e6e4e0;
    background-image: url('./img/noise.png');
}

body {
    margin: 0;
}
